<div id="main">
    <header class="mb-3">
        <a href="#" class="burger-btn d-block d-xl-none">
            <i class="bi bi-justify fs-3"></i>
        </a>
    </header>
    <!-- Basic Horizontal form layout section start -->
    <section id="basic-horizontal-layouts">
        <div class="row match-height">
            <div class="col-md-12 col-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Ajouter un jour d'ouverture</h4>
                    </div>
                    <div class="card-content">
                        <div class="card-body">
                            <form class="form form-horizontal" action="/admin/config-horaires-ouverture" method="POST">
                                <div class="form-body">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <label>Jour de la semaine</label>
                                        </div>
                                        <div class="col-md-8 form-group">
                                            <fieldset class="form-group">
                                                <select class="form-select" id="weekDay">
                                                    <option value=0> Dimanche</option>
                                                    <option value=1> Lundi</option>
                                                    <option value=2> Mardi</option>
                                                    <option value=3> Mercredi</option>
                                                    <option value=4> Jeudi</option>
                                                    <option value=5> Vendredi</option>
                                                    <option value=6> Samedi</option>
                                                </select>
                                            </fieldset>
                                        </div>
                                        <div class="col-md-4">
                                            <label>Heure d'ouverture</label>
                                        </div>
                                        <div class="col-md-8 form-group">
                                            <input type="time" id="startTimeFs" class="form-control"
                                                   name="startTimeFirstService">
                                        </div>
                                        <div class="col-md-4">
                                            <label>Heure de fermeture</label>
                                        </div>
                                        <div class="col-md-8 form-group">
                                            <input type="time" id="endTimeFs" class="form-control"
                                                   name="endTimeFirstService">
                                        </div>
                                        <div class="col-md-4">
                                            <label></label>
                                        </div>
                                        <div class="col-md-8 form-group">
                                            <div class="form-check">
                                                <div class="custom-control custom-checkbox">
                                                    <input type="checkbox"
                                                           class="form-check-input form-check-success form-check-glow"
                                                           name="isClose" id="secondService"> 2ème service
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4 hiddenBlock">
                                            <label>Heure d'ouverture</label>
                                        </div>
                                        <div class="col-md-8 form-group hiddenBlock">
                                            <input type="time" id="startTimeSs" class="form-control"
                                                   name="startTimeSecondService">
                                        </div>
                                        <div class="col-md-4 hiddenBlock">
                                            <label>Heure de fermeture</label>
                                        </div>
                                        <div class="col-md-8 form-group hiddenBlock">
                                            <input type="time" id="endTimeSs" class="form-control"
                                                   name="endTimeSecondService">
                                        </div>
                                        <div class="col-md-4">
                                            <label></label>
                                        </div>
                                        <div class="col-md-8 form-group">
                                            <div class="form-check">
                                                <div class="custom-control custom-checkbox">
                                                    <input type="checkbox"
                                                           class="form-check-input form-check-success form-check-glow"
                                                           name="isClose" id="isClose">Jour de fermeture
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-12 d-flex justify-content-end">
                                            <input type="submit" class="btn btn-primary me-1 mb-1"
                                                   id="config" value="Configurer">
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="basic-horizontal-layouts">
        <div class="row match-height">
            <div class="col-md-12 col-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Horaires d'ouverture</h4>
                    </div>
                    <div class="card-content">
                        <div class="card-body">
                            <table class="table table-striped" id="openingTimeTable">
                                <thead>
                                <tr style="text-align: center">
                                    <th style="text-align: center">Jour</th>
                                    <th style="text-align: center">Services</th>
                                    <th style="text-align: center">Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                <% if (openingTime.length > 0 ) { %>
                                    <% openingTime.forEach((opt) => { %>
                                        <tr style="text-align: center" id="row-<%= opt._id %>">
                                            <td>
                                                <span id="weekDay_<%= opt._id %>"><%= appConst.weekdayNumber[opt.weekday] %></span>
                                            </td>
                                            <td>
                                                <% Object.keys(opt.services).forEach(function (k) { %>
                                                    <p> <%= k %> : De <%= opt.services[k].startTime %>
                                                        A <%= opt.services[k].endTime %></p>
                                                <% }) %>
                                            </td>
                                            <td>
                                                <button type="button" class="btn btn-success editModalOpeningTime"
                                                        data-bs-toggle="modal"
                                                        data-bs-target="#editOpeningTime"
                                                        data-idOpt="<%= opt._id %>"
                                                        data-opt="<%= JSON.stringify(opt) %>"
                                                >
                                                    <i class="fas fa-edit"></i> Modifier
                                                </button>
                                            </td>
                                        </tr>
                                    <% }) %>
                                <% } else { %>
                                    <h3>
                                        Aucune journée d'ouverture paramétrée
                                    </h3>
                                <% } %>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Modal -->
    <div class="modal fade" id="editOpeningTime" tabindex="-1" aria-labelledby="editOpeningTime" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modifier une ouverture</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form class="form form-horizontal" action="#">
                        <div class="form-body">
                            <div class="row">
                                <div class="col-md-4">
                                    <label>Jour de la semaine</label>
                                </div>
                                <div class="col-md-8 form-group">
                                    <fieldset class="form-group">
                                        <select class="form-select" id="weekDayModal">
                                            <option value=0> Dimanche</option>
                                            <option value=1> Lundi</option>
                                            <option value=2> Mardi</option>
                                            <option value=3> Mercredi</option>
                                            <option value=4> Jeudi</option>
                                            <option value=5> Vendredi</option>
                                            <option value=6> Samedi</option>
                                        </select>
                                    </fieldset>
                                </div>
                                <div class="col-md-4">
                                    <label>Service 1</label>
                                </div>
                                <div class="col-md-8 form-group">
                                    <hr>
                                </div>
                                <div class="col-md-4">
                                    <label>Heure d'ouverture</label>
                                </div>
                                <div class="col-md-8 form-group">
                                    <input type="time" id="startTimeFsModal" class="form-control"
                                           name="startTimeFirstService" value="08:56">
                                </div>
                                <div class="col-md-4">
                                    <label>Heure de fermeture</label>
                                </div>
                                <div class="col-md-8 form-group">
                                    <input type="time" id="endTimeFsModal" class="form-control"
                                           name="endTimeFirstService">
                                </div>
                                <div class="col-md-4">
                                    <label>Service 2</label>
                                </div>
                                <div class="col-md-8 form-group">
                                    <hr>
                                </div>
                                <div class="col-md-4">
                                    <label>Heure d'ouverture</label>
                                </div>
                                <div class="col-md-8 form-group">
                                    <input type="time" id="startTimeSsModal" class="form-control"
                                           name="startTimeSecondService">
                                </div>
                                <div class="col-md-4">
                                    <label>Heure de fermeture</label>
                                </div>
                                <div class="col-md-8 form-group">
                                    <input type="time" id="endTimeSsModal" class="form-control"
                                           name="endTimeSecondService">
                                </div>
                                <div class="col-md-4">
                                    <label></label>
                                </div>
                                <div class="col-md-8 form-group">
                                    <div class="form-check">
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox"
                                                   class="form-check-input form-check-success form-check-glow"
                                                   name="isClose" id="isCloseModal">Jour de fermeture
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                    <button type="button" class="btn btn-primary editOpeningTime">Enregistrer</button>
                </div>
            </div>
        </div>
    </div>
</div>