<div id="main">
    <header class="mb-3">
        <a href="#" class="burger-btn d-block d-xl-none">
            <i class="bi bi-justify fs-3"></i>
        </a>
    </header>
    <!-- Basic Horizontal form layout section start -->
    <section id="basic-horizontal-layouts">
        <div class="row match-height">
            <div class="col-md-12 col-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Créer un nouveau plat</h4>
                    </div>
                    <div class="card-content">
                        <div class="card-body">
                            <form class="form form-horizontal" action="/admin/categories-plats" method="POST">
                                <div class="form-body">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <label>Catégory</label>
                                        </div>
                                        <div class="col-md-8 form-group">
                                            <fieldset class="form-group">
                                                <select class="form-select" id="categorySelect">
                                                    <%if (specialityCat) {%>
                                                    <% specialityCat.forEach(function (cat) { %>
                                                            <option value="<%= cat._id%>"><%= cat.name%></option>
                                                    <% }) %>
                                                    <%}%>
                                                </select>
                                            </fieldset>
                                        </div>
                                        <div class="col-md-4">
                                            <label>Nom du plat</label>
                                        </div>
                                        <div class="col-md-8 form-group">
                                            <input type="text" id="speciliatyName" class="form-control"
                                                   name="speciliatyName">
                                        </div>
                                        <div class="col-md-4">
                                            <label>Description</label>
                                        </div>
                                        <div class="col-md-8 form-group">
                                            <div class="form-group with-title mb-3">
                                                <textarea name="specialityDescription" class="form-control" rows="3"></textarea>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <label>Prix</label>
                                        </div>
                                        <div class="col-md-8 form-group">
                                            <input type="text" id="speciliatyPrice" class="form-control"
                                                   name="speciliatyPrice">
                                        </div>
                                        <div class="col-md-4">
                                            <label>TVA</label>
                                        </div>
                                        <div class="col-md-8 form-group">
                                            <input type="text" id="specialityTVA" class="form-control"
                                                   name="specialityTVA">
                                        </div>
                                        <div class="col-md-4">
                                            <label>Le plat est disponible</label>
                                        </div>
                                        <div class="col-md-8 form-group">
                                            <div class="form-check">
                                                <div class="custom-control custom-checkbox">
                                                    <input type="checkbox"
                                                           class="form-check-input form-check-success form-check-glow" checked
                                                           name="isSpecialityAvailable" id="isSpecialityAvailable">
                                                    <label class="form-check-label" for="customColorCheck3">Disponible</label>
                                                </div>
                                            </div>
                                        </div>
                                        <input type="file" class="image-preview-filepond-modal-spec" id="specialityFileModal">
                                        <div class="col-sm-12 d-flex justify-content-end">
                                            <input type="submit" class="btn btn-primary me-1 mb-1"
                                                    id="createSpeciality" value="Créer">
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="basic-horizontal-layouts">
        <div class="row match-height">
            <div class="col-md-12 col-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Liste des plats</h4>
                    </div>
                    <div class="card-content">
                        <div class="card-body">
                            <table class="table table-striped" id="specTable">
                                <thead>
                                <tr style="text-align: center">
                                    <th>Nom</th>
                                    <th>Catégorie</th>
                                    <th>Prix</th>
                                    <th>TVA</th>
                                    <th>Image</th>
                                    <th>Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                <% if (speciality.length > 0 ) { %>
                                    <% speciality.forEach((spec) => { %>
                                        <tr style="text-align: center" id="row-<%= spec._id%>">
                                            <td><span id="specName_<%= spec._id%>"><%= spec.name %></span></td>
                                            <td><span id="specCategory<%= spec._id%>"><%= spec.category.name %></span></td>
                                            <td><span id="specPrice_<%= spec._id%>"><%= spec.price %></span> €</td>
                                            <td><span id="specTVA_<%= spec._id%>"><%= spec.tva %></span> %</td>
                                            <td><img  id="specImage_<%= spec._id%>"src="<%= spec.picturePath%>" style="height: 40px"></td>
                                            <td>
                                                <button type="button" class="btn btn-success editModalSpecOpen"
                                                        data-bs-toggle="modal"
                                                        data-bs-target="#editSpecModal"
                                                        data-idSpeciality="<%= spec._id %>"
                                                        data-specName="<%= spec.name%>"
                                                        data-specDescription="<%= spec.description%>"
                                                        data-specPrice="<%= spec.price%>"
                                                        data-specTva="<%= spec.tva%>"
                                                        data-specPicturePath="<%= spec.picturePath%>"
                                                        data-specIsAvailable="<%= spec.available%>"
                                                >
                                                    <i class="fas fa-edit"></i> Modifier
                                                </button>
                                                <button type="button" class="btn btn-danger deleteSpeciality"
                                                        data-idSpeciality="<%= spec._id %>">
                                                    <i class="fas fa-trash-restore"></i> Supprimer
                                                </button>
                                            </td>
                                        </tr>
                                    <% }) %>
                                <% } else { %>
                                    <h3>
                                        Aucun plat trouvé
                                    </h3>
                                <% } %>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Modal -->
    <div class="modal fade" id="editSpecModal" tabindex="-1" aria-labelledby="editSpecModal" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modifier un plat</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form class="form form-horizontal" action="#">
                        <div class="form-body">
                            <div class="row">
                                <div class="col-md-4">
                                    <label>Nom du plat</label>
                                </div>
                                <div class="col-md-8 form-group">
                                    <input type="text" id="editSpecName" class="form-control">
                                    <input type="hidden" id="editIdSpecName" class="form-control">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <label>Description</label>
                                </div>
                                <div class="col-md-8 form-group">
                                    <textarea class="form-control" id="editSpecDescription" rows="3"></textarea>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <label>Prix</label>
                                </div>
                                <div class="col-md-8 form-group">
                                    <input type="text" id="editSpecPrice" class="form-control">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <label>TVA</label>
                                </div>
                                <div class="col-md-8 form-group">
                                    <input type="text" id="editSpecTVA" class="form-control">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <label>Le plat est disponible</label>
                                </div>
                                <div class="col-md-8 form-group">
                                    <div class="form-check">
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox"
                                                   class="form-check-input form-check-success form-check-glow"
                                                   name="editIsSpecialityAvailable" id="editIsSpecialityAvailable">
                                            <label class="form-check-label" for="customColorCheck3">Disponible</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <label>Image</label>
                                </div>
                                <div class="col-md-8 form-group">
                                    <img id="editSpecPicturePath" src="" class="img-thumbnail">
                                </div>
                            </div>
                            <input type="file" class="image-preview-filepond-spec" id="editSpecFile">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                    <button type="button" class="btn btn-primary editSpec">Enregistrer</button>
                </div>
            </div>
        </div>
    </div>
</div>