<div id="main">
    <header class="mb-3">
        <a href="#" class="burger-btn d-block d-xl-none">
            <i class="bi bi-justify fs-3"></i>
        </a>
    </header>
    <!-- Basic Horizontal form layout section start -->
    <section id="basic-horizontal-layouts">
        <div class="row match-height">
            <div class="col-md-12 col-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Créer une nouvelle catégorie</h4>
                    </div>
                    <div class="card-content">
                        <div class="card-body">
                            <form class="form form-horizontal" action="/admin/categories-plats" method="POST">
                                <div class="form-body">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <label>Nom de la catégorie</label>
                                        </div>
                                        <div class="col-md-8 form-group">
                                            <input type="text" id="categoryName" class="form-control"
                                                   name="categoryName">
                                        </div>
                                        <div class="col-md-4">
                                            <label>Sous Titre</label>
                                        </div>
                                        <div class="col-md-8 form-group">
                                            <input type="text" id="subTitleCategory" class="form-control"
                                                   name="subTitleCategory">
                                        </div>
                                        <div class="col-md-4">
                                            <label>Description de la catégorie</label>
                                        </div>
                                        <div class="col-md-8 form-group">
                                            <div class="form-group with-title mb-3">
                                                <textarea name="descriptionCategory" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <label>Supplément</label>
                                        </div>
                                        <div class="col-md-8 form-group">
                                            <div class="form-check">
                                                <div class="custom-control custom-checkbox">
                                                    <input type="checkbox"
                                                           class="form-check-input form-check-success form-check-glow"
                                                           name="isExtra" id="isExtra">
                                                </div>
                                            </div>
                                        </div>
                                        <input type="file" class="image-preview-filepond-modal-cat" id="categoryFileModal">
                                        <div class="col-sm-12 d-flex justify-content-end">
                                            <input type="submit" class="btn btn-primary me-1 mb-1"
                                                    id="createCategorySpeciality" value="Créer">
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="basic-horizontal-layouts">
        <div class="row match-height">
            <div class="col-md-12 col-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Liste des catégories</h4>
                    </div>
                    <div class="card-content">
                        <div class="card-body">
                            <table class="table table-striped datatable">
                                <thead>
                                <tr style="text-align: center">
                                    <th>Nom</th>
                                    <th>Sous Titre</th>
                                    <th>Image</th>
                                    <th>Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                <% if (specialityCat.length > 0 ) { %>
                                    <% specialityCat.forEach((cat) => { %>
                                        <tr style="text-align: center" id="row-<%= cat._id%>">
                                            <td><span id="catname_<%= cat._id%>"><%= cat.name %></span></td>
                                            <td><span id="catsubtitle_<%= cat._id%>"><%= cat.subTitle %></span></td>
                                            <td><img  id="catImage_<%= cat._id%>"src="<%= cat.picturePath%>" style="height: 40px"></td>
                                            <td>
                                                <button type="button" class="btn btn-success editModalCatOpen"
                                                        data-bs-toggle="modal"
                                                        data-bs-target="#editCatModal"
                                                        data-idCategory="<%= cat._id %>"
                                                        data-nameCategory="<%= cat.name%>"
                                                        data-subTitleCategory="<%= cat.subTitle%>"
                                                        data-descriptionCategory="<%= cat.description%>"
                                                        data-isExtra="<%= cat.isExtra%>"
                                                        data-picturePathCategory="<%= cat.picturePath%>">
                                                    <i class="fas fa-edit"></i> Modifier
                                                </button>
                                                <button type="button" class="btn btn-danger deleteSpecialityCat"
                                                        data-idCategory="<%= cat._id %>">
                                                    <i class="fas fa-trash-restore"></i> Supprimer
                                                </button>
                                            </td>
                                        </tr>
                                    <% }) %>
                                <% } else { %>
                                    <h3>
                                        Aucune catégorie trouvée
                                    </h3>
                                <% } %>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Modal -->
    <div class="modal fade" id="editCatModal" tabindex="-1" aria-labelledby="editCatModal" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modifier une catégorie</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form class="form form-horizontal" action="#">
                        <div class="form-body">
                            <div class="row">
                                <div class="col-md-4">
                                    <label>Nom de la catégorie</label>
                                </div>
                                <div class="col-md-8 form-group">
                                    <input type="text" id="editCategoryName" class="form-control">
                                    <input type="hidden" id="editIdCategoryName" class="form-control">
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-4">
                                    <label>Sous Titre</label>
                                </div>
                                <div class="col-md-8 form-group">
                                    <input type="text" id="editCategorySubtitle" class="form-control">
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-4">
                                    <label>Description</label>
                                </div>
                                <div class="col-md-8 form-group">
                                    <textarea class="form-control" id="editCategoryDescription" rows="3"></textarea>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <label>Supplément</label>
                                </div>
                                <div class="col-md-8 form-group">
                                    <div class="form-check">
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox"
                                                   class="form-check-input form-check-success form-check-glow"
                                                   name="editIsExtra" id="editIsExtra">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <label>Image</label>
                                </div>
                                <div class="col-md-8 form-group">
                                    <img id="editCategoryPicturePath" src="" class="img-thumbnail">
                                </div>
                            </div>
                            <input type="file" class="image-preview-filepond-cat" id="categoryFile">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                    <button type="button" class="btn btn-primary editCategory">Enregistrer</button>
                </div>
            </div>
        </div>
    </div>
</div>