<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
                new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
            j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
            'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-KR2ZXCP');</script>
    <!-- End Google Tag Manager -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kokomie Restaurant</title>
    <!-- font awesome cdn link  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <!--========== BOX ICONS ==========-->
    <link rel="stylesheet"  href="https://unpkg.com/swiper/swiper-bundle.min.css" />
    <link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="/css/app.css">
    <link rel="icon" type="image/png" href="/images/kokomie-logo-tp.png"/>
</head>
<body>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KR2ZXCP"
                  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<a href="#" class="scrolltop" id="scroll-top">
    <i class='bx bx-chevron-up scrolltop__icon'></i>
</a>

<!--========== HEADER ==========-->
<header class="l-header" id="header">
    <nav class="nav bd-container">
        <a href="/#" class="nav__logo">
            <img id="imgLogoSite" src="images/kokomie-logo-tp.png">
        </a>
        <div class="nav__menu" id="nav-menu">
            <ul class="nav__list">
                <li class="nav__item"><a href="/#about" class="nav__link">Notre Cuisine</a></li>
                <li class="nav__item"><a href="/#menu" class="nav__link">Nos Spécialités</a></li>
                <li class="nav__item"><a href="/#services" class="nav__link">Nos Services</a></li>
                <li class="nav__item"><a href="/#" class="nav__link">Notre adresse</a></li>
                <li class="nav__item"><a href="/#home" class="nav__link">Commander</a></li>
                <% if (!session.user) {%>
                <li class="nav__item"><a href="/espace-membre" class="nav__link">
                        Espace Membre <i class='bx bxs-user'></i>
                    </a></li>
                <% } %>
            </ul>
        </div>
        <% if (session.user) {%>
        <div class="action">
            <div class="profile" title="<%= session.currentOrder ? "Vous avez "+session.currentOrder+" commandes en cours" : "" %>">
                <img src="img/avatar.jpeg" alt="Avatar" id="avatar">
                <% if (session.currentOrder) { %>
                    <mark class="big" id="orderAlert"><span id="totalCurrentOrder"><%= session.currentOrder%></span></mark>
                <% }%>
            </div>
            <div class="accountMenu">
                <h3><%= session.user.firstName +" "+ session.user.lastName %></h3>
                <ul>
                    <li><img src="img/user.png"><a href="/accueil-membre">Mon Compte</a></li>
                    <li><img src="img/purchase-order.png"><a href="/votre-commande">Mes commandes en cours</a></li>
                    <li><img src="img/logout.png"><a id="logout" href="#">Se déconnecter</a></li>
                </ul>
            </div>
        </div>
        <% } %>
        <div style="margin-right: 5px">
            <button id="cart-button" class="button button-cart"><i class='bx bxs-cart-add'></i>
                <span id="cartCounter"><%= session.cart ? session.cart.totalQty : ''%></span>
            </button>
        </div>
        <div class="nav__toggle" id="nav-toggle">
            <i class='bx bx-menu'></i>
        </div>
    </nav>
</header>

<%- include('components/customers/cart')-%>

<%- body %>

<!--========== FOOTER ==========-->
<footer class="footer section bd-container">
    <div class="footer__container bd-grid">
        <div class="footer__content">
            <a href="#" class="footer__logo">Kokomie</a>
            <span class="footer__description">Cuisine vietnamienne authentique</span>
            <div>
                <a href="#" class="footer__social"><i class='bx bxl-facebook'></i></a>
                <a href="#" class="footer__social"><i class='bx bxl-instagram'></i></a>
                <a href="#" class="footer__social"><i class='bx bxl-twitter'></i></a>
            </div>
        </div>

        <div class="footer__content">
            <h3 class="footer__title">Services</h3>
            <ul>
                <li><a href="#" class="footer__link">Commander</a></li>
                <li><a href="#" class="footer__link">Notre cuisine</a></li>
                <li><a href="#" class="footer__link">Nos services</a></li>
                <li><a href="#" class="footer__link">Espace membre</a></li>
            </ul>
        </div>

        <div class="footer__content">
            <h3 class="footer__title">Information</h3>
            <ul>
                <li><a href="#" class="footer__link">Evènements</a></li>
                <li><a href="#" class="footer__link">Blog</a></li>
                <li><a href="#" class="footer__link">Contactez-nous</a></li>
                <li><a href="#" class="footer__link">Politique de la protection de la vie privée</a></li>
            </ul>
        </div>

        <div class="footer__content">
            <h3 class="footer__title">Adress</h3>
            <ul>
                <li>888 rue de l'Or</li>
                <li>80000 Amiens</li>
                <li>France</li>
                <li>lebonbobun@email.com</li>
            </ul>
        </div>
    </div>

    <p class="footer__copy">&#169; 2021 Designed by @MAN-minhanh.ngvn@gmail.com. All right reserved</p>
</footer>

<!--========== SCROLL REVEAL ==========-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!-- Swiper JS -->
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
<script src="https://unpkg.com/scrollreveal"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/app.js"></script>
<script src="https://www.google.com/recaptcha/api.js"></script>

</body>
</html>