@import "./variables";
@import "~noty/src/noty.scss";
@import "~noty/src/themes/mint.scss";
/*========== Button Dark/Light ==========*/
.change-theme {
  position: absolute;
  right: 1rem;
  top: 1.8rem;
  color: var(--text-color);
  font-size: 1rem;
  cursor: pointer;
}

body{
  margin: var(--header-height) 0 0 0 !important;
  font-family: var(--body-font) !important;
  font-size: var(--normal-font-size) !important;
  background-color: var(--body-color) !important;
  color: var(--text-color) !important;
  line-height: 1.6 !important;
}

html, body {
  @media (max-width:450px){
    font-size: 12px !important;
    line-height: 1.5 !important;
  }
  @media (min-width:451px){
    font-size: 16px !important;
    line-height: 2 !important;
  }
  font-family: var(--body-font) !important;;

}
h1,h2,h3,ul,p{
  margin: 0 !important;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--body-font) !important;
}

ul{
  padding: 0;
  list-style: none;
}
a{
  text-decoration: none;
}
img{
  max-width: 100%;
  height: auto;
}

/*========== CLASS CSS ==========*/
.section{
  padding: 4rem 0 2rem !important;

  &-title, &-subtitle{
    text-align: center !important;
  }

  &-title{
    font-size: var(--h1-font-size) !important;
    color: var(--first-color) !important;
    margin-bottom: var(--mb-3) !important;
  }
  &-subtitle{
    display: block;
    color: var(--first-color-alt) !important;
    font-weight: var(--font-medium) !important;
    margin-bottom: var(--mb-1) !important;
  }
}

/*========== LAYOUT ==========*/
.bd-container{
  max-width: 1500px;
  width: calc(100% - 1rem);
  margin-left: var(--mb-2);
  margin-right: var(--mb-2);
}

.bd-grid{
  display: grid;
  gap: 1.5rem;
}

.l-header{
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: #fff;
}

/*========== NAV ==========*/
.nav{
  max-width: 1500px;
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__menu{
    @media screen and (max-width: 768px){
      position: fixed;
      top: -100%;
      left: 0;
      width: 100%;
      padding: 1.5rem 0 1rem;
      text-align: center;
      background-color: var(--body-color);
      transition: .4s;
      box-shadow: 0 4px 4px rgba(0,0,0,.1);
      border-radius: 0 0 1rem 1rem;
      z-index: var(--z-fixed);
      height: 100%;
      background-color: var(--first-color-alt);
    }
  }
  &__item{
    margin-bottom: var(--mb-2);
  }
  &__link, &__logo, &__toggle{
    color: var(--first-color);
    font-weight: var(--font-medium);
  }
  &__logo{
    &:hover{
      color: var(--first-color);
    }
  }
  &__link{
    transition: .3s;

    &:hover{
      color: var(--first-color);
    }
  }
  &__toggle{
    font-size: 1.3rem;
    cursor: pointer;
  }
}

/* Show menu */
.show-menu{
  top: var(--header-height);
}
/* Active menu */
.active-link{
  color: var(--first-color);
}

/* Change background header */
.scroll-header{
  box-shadow: 0 2px 4px rgba(0,0,0,.1);
}

/* Scroll top */
.scrolltop{
  position: fixed;
  right: 1rem;
  bottom: -20%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: .3rem;
  background: rgba(6, 156, 84, .5);
  border-radius: .4rem;
  z-index: var(--z-tooltip);
  transition: .4s;
  visibility: hidden;

  &:hover{
    background-color: var(--first-color-alt);
  }

  &__icon{
    font-size: 1.8rem;
    color: var(--body-color);
  }
}

.show-scroll{
  visibility: visible;
  bottom: 1.5rem;
}

/*========== HOME ==========*/
.home{
  height: 90vh;
  &__container{
    height: calc(100vh - var(--header-height));
    align-content: center;
    margin-top: 120px;
  }
  &__title{
    font-size: var(--biggest-font-size  );
    color: var(--first-color);
    margin-bottom: var(--mb-1);
  }
  &__subtitle{
    font-size: var(--h1-font-size);
    color: var(--title-color);
    margin-bottom: var(--mb-4);
  }
  &__img{
    width: 300px;
    justify-self: center;
  }
}

/*========== dashboard ==========*/
.dashboard{
  &__container{
    height: calc(100vh - var(--header-height));
  }
}



/*========== BUTTONS ==========*/
.button{
  display: inline-block;
  background-color: var(--first-color-alt);
  color: #FFF;
  padding: .75rem 1rem;
  border-radius: .5rem;
  transition: .3s;

  &:hover{
    background-color: var(--first-color);
  }
}


/*========== ABOUT ==========*/
.about{
  &__data{
    text-align: center;
  }
  &__description{
    margin-bottom: var(--mb-3);
  }
  &__img{
    width: 280px;
    border-radius: .5rem;
    justify-self: center;
  }
}

/*========== SERVICES ==========*/
.services{
  &__container{
    row-gap: 2.5rem;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  }
  &__content{
    text-align: center;
  }
  &__img{
    width: 64px;
    height: 64px;
    fill: var(--first-color-alt);
    margin-bottom: var(--mb-2);
  }
  &__title{
    font-size: var(--h3-font-size);
    color: var(--title-color);
    margin-bottom: var(--mb-1);
  }
  &__description{
    padding: 0 1.5rem;
  }
}

/*========== MENU ==========*/
.menu{
  margin-top: 100px;
  &__container{
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
  }
  &__content{
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: var(--container-color);
    border-radius: .5rem;
    box-shadow: 0 2px 4px rgba(3, 74, 40, 0.15);
    padding: .75rem;
  }
  &__img{
    width: 100px;
    align-self: center;
    margin-bottom: var(--mb-2);
  }
  &__name, &__preci{
    font-weight: var(--font-semi-bold);
    color: var(--title-color);
  }
  &__name{
    font-size: var(--normal-font-size);
  }
  &__detail, &__preci{
    font-size: var(--small-font-size);
  }
  &__detail{
    margin-bottom: var(--mb-1);
  }
  &__button{
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    font-size: 1.25rem;
    padding: .625rem .813rem;
    border-radius: .5rem 0 .5rem 0;
  }
}

/*========== APP ==========*/
.app{
  &__data{
    text-align: center;
  }
  &__description{
    margin-bottom: var(--mb-5);
  }
  &__stores{
    margin-bottom: var(--mb-4);
  }
  &__store{
    width: 120px;
    margin: 0 var(--mb-1);
  }
  &__img{
    width: 230px;
    justify-self: center;
  }
}

/*========== CONTACT ==========*/
.contact{
  &__container{
    text-align: center;
  }
  &__description{
    margin-bottom: var(--mb-3);
  }
}

/*========== FOOTER ==========*/
.footer{
  &__container{
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    row-gap: 2rem;
  }
  &__logo{
    font-size: var(--h3-font-size);
    color: var(--first-color);
    font-weight: var(--font-semi-bold);
  }
  &__description{
    display: block;
    font-size: var(--small-font-size);
    margin: .25rem 0 var(--mb-3);
  }
  &__social{
    font-size: 1.5rem;
    color: var(--title-color);
    margin-right: var(--mb-2);
  }
  &__title{
    font-size: var(--h2-font-size);
    color: var(--first-color);
    margin-bottom: var(--mb-2);
  }
  &__link{
    display: inline-block;
    color: var(--text-color);
    margin-bottom: var(--mb-1);

    &:hover{
      color: var(--first-color);
    }
  }
  &__copy{
    text-align: center;
    font-size: var(--small-font-size);
    color: var(--text-color-light);
    margin-top: 3.5rem;
  }
}

/*========== MEDIA QUERIES ==========*/
@media screen and(max-width: 1400px){
  body{
    font-size: var(--small-font-size);
  }
}

@media screen and(max-width: 1100px){
  body{
    font-size: var(--smaller-font-size);
  }
}


@media screen and (max-width: 780px){
  .bd-container {
    width: calc(100% - 2rem);
  }

  #imgLogoSite {
    max-height: 40px
  }
}
@media screen and (min-width: 769px){
  .home__container,
  .about__container,
  .app__container{
    grid-template-columns: repeat(2, 0.5fr);
    align-items: center;
  }

  .about__data, .about__initial,
  .app__data, .app__initial,
  .contact__container, .contact__initial{
    text-align: initial;
  }

  .about__img, .app__img{
    width: 380px;
    order: -1;
  }

  .contact{
    &__container{
      grid-template-columns: 1.75fr 1fr;
      align-items: center;
    }
    &__button{
      justify-self: center;
    }
  }
}

@media screen and (min-width: 1600px) {
  .home__container,
  .about__container,
  .app__container {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }
}

@media (max-height:850px){
  .containerArrow{
    bottom: 15%;
  }
}

@media (max-width:450px){

  .home__container {
    margin-top: 0px;
  }

  .dishes .box-container .box img{
    height:auto;
    width: 100%;
  }

  #avatar {
    width: 25px;
    height: 25px;
    margin-bottom: 15px;
  }
}

@media (min-width:451px){

  #avatar {
    width:35px;
    height: 35px;
  }
}

.home__img{
  animation:float 3s linear infinite;
  max-height: 600px;
  max-width: 400px;
}

.animated__img{
  animation:float 3s linear infinite;
}


@keyframes float{
  0%, 100%{
    transform: translateY(0rem);
  }
  50%{
    transform: translateY(3rem);
  }
}

.menu .menu__container .menu__content{
  position: relative;
  overflow: hidden;
  cursor: pointer;
  border-radius: .5rem;
}

.menu .menu__container .menu__content .image{
  height:100%;
  width:100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}
.menu .menu__container .menu__content:hover .image{
  top:-200%; left:0;

}

.button-light {
  background: #ffffff;
  color: var(--first-color-alt);
}

.button-cart {
  background: var(--first-color-alt);
  color: #ffff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.btn-marge{
  margin: 1rem 1rem;
  font-size: 1.5rem;
  padding: 0.8rem 2rem;
}

.button-cart:hover {
  background: var(--first-color);
}

.w3-sidebar {
  width: 500px;
  background: var(--body-color);
  padding-bottom: 100px;
}

.cart{
  justify-self: flex-end;
  padding-right: 8px;
}

#cart-btn{
  border-radius: 2px;
  margin-top: 10px;
  border: none;
  font-size: 1.5rem;
  color: #fff;
  position: relative;
  width: 100%;
  cursor: pointer;
}

#cart-btn-cod{
  margin-bottom: 25px;
  border-radius: 2px;
  margin-top: 10px;
  border: none;
  font-size: 1.5rem;
  color: #fff;
  position: relative;
  width: 100%;
  cursor: pointer;
}

#cart-count-info{
  position: absolute;
  top: -12px;
  right: -8px;
  background: var(--first-color);
  color: #fff;
  font-size: 1rem;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
}

.cart-container{
  position: relative;
  background: var(--body-color);
  width: 100%;
}

.cart-item{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  position: relative;
  padding: 1.2rem 0.6rem;
  height: 140px;
}

.cart-item:last-child{
  border-bottom: none;
}
.cart-item-del-btn{
  position: absolute;
  right: 15px;
  top: 15px;
  padding: 0.05rem 0.45rem;
  font-size: 1.4rem;
  background: var(--fire-bush);
  border: none;
  color: var(--first-color);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  cursor: pointer;
}

.cart-item img{
  width: 80px;
  text-align: center;
}
.cart-item-info{
  text-align: center;
}
.cart-item-info span{
  display: block;
}
.cart-total{
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background: var(--first-color-alt);
  color: #fff;
}
.cart-total h3{
  margin-right: 0.2rem;
  font-size: 1.1rem;
}
#cart-total-value{
  font-size: 1.3rem;
  font-weight: 500;
}

.button-light:hover {
  background: var(--second-color-alt);
  color: var(--first-color-alt);
}

@media screen and (min-width: 780px){
  body{
    margin: 0;
  }

  .section{
    padding-top: 8rem;
  }

  .nav{
    height: calc(var(--header-height) + 1.5rem);

    &__list{
      display: flex;
    }
    &__item{
      margin-left: var(--mb-5);
      margin-bottom: 0;
    }
    &__toggle{
      display: none;
    }
  }

  .change-theme{
    position: initial;
    margin-left: var(--mb-2);
  }

  .home__container{
    height: 100vh;
    justify-items: center;
  }

  .services__container,
  .menu__container{
    margin-top: var(--mb-6);
  }

  .menu{
    &__container{
      grid-template-columns: repeat(3, 300px);
      column-gap: 4rem;
    }
    &__content{
      padding: 1.5rem;
    }
    &__img{
      width: 130px;
    }
  }

  .app__store{
    margin: 0 var(--mb-1) 0 0;
  }
}

@media screen and (min-width: 960px){
  .bd-container{
    margin-left: auto;
    margin-right: auto;
  }

  .home__img{
    width: 500px;
  }

  .about__container, .app__container{
    column-gap: 7rem;
  }
}

/* For tall screens on mobiles y desktop*/
@media screen and (min-height: 721px) {
  .home__container {
    height: 640px;
  }
}

/* For tall screens on mobiles y desktop*/
@media screen and (max-width: 568px) {
  .menu{
    &__container{
      grid-template-columns: repeat(1, 300px);
      column-gap: 4rem;
    }
  }

  .w3-sidebar {
    width: 100%;
  }

  .cart-item{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    column-gap: 0.5rem;
    align-items: center;
    position: relative;
    padding: 1.2rem 0.6rem;
    height: 200px;
  }
}

.container {
  position: relative;
  width: 100%;
  background-color: #fff;
  min-height: 100vh;
  overflow: hidden;
}

.forms-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.signin-signup {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 75%;
  width: 50%;
  transition: 1s 0.7s ease-in-out;
  display: grid;
  grid-template-columns: 1fr;
  z-index: 5;
}

form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0rem 5rem;
  transition: all 0.2s 0.7s;
  overflow: hidden;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

form.sign-up-form {
  opacity: 0;
  z-index: 1;
}

form.sign-in-form {
  z-index: 2;
}

.title {
  font-size: 2.2rem;
  color: #444;
  margin-bottom: 10px;
}

.input-field {
  max-width: 380px;
  width: 100%;
  background-color: #f0f0f0;
  margin: 10px 0;
  height: 55px;
  border-radius: 55px;
  display: grid;
  grid-template-columns: 15% 85%;
  padding: 0 0.4rem;
  position: relative;
}

.input-field i {
  text-align: center;
  line-height: 55px;
  color: #acacac;
  transition: 0.5s;
  font-size: 1.1rem;
}

.input-field input {
  background: none;
  outline: none;
  border: none;
  line-height: 1;
  font-weight: 600;
  font-size: 1.1rem;
  color: #333;
}

.input-field input::placeholder {
  color: #aaa;
  font-weight: 500;
}

.social-text {
  padding: 0.7rem 0;
  font-size: 1rem;
}

.social-media {
  display: flex;
  justify-content: center;
}

.social-icon {
  height: 46px;
  width: 46px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0.45rem;
  color: #333;
  border-radius: 50%;
  border: 1px solid #333;
  text-decoration: none;
  font-size: 1.1rem;
  transition: 0.3s;
}

.social-icon:hover {
  color: var(--first-color);
  border-color: var(--first-color-alt);
}

.btn {
  width: 150px;
  background-color: #048654;
  border: none;
  outline: none;
  height: 49px;
  border-radius: 49px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  margin: 10px 0;
  cursor: pointer;
  transition: 0.5s;
  text-align: center;
}

.btn:hover {
  background-color:  var(--first-color);
}
.panels-container {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

#connexion{
  margin-top: 90px;
}

.container:before {
  content: "";
  position: absolute;
  height: 2000px;
  width: 2000px;
  top: -10%;
  right: 48%;
  transform: translateY(-50%);
  background:  #048654;
  transition: 1.8s ease-in-out;
  border-radius: 50%;
  z-index: 6;
}

.image {
  width: 60%;
  transition: transform 1.1s ease-in-out;
  transition-delay: 0.4s;
}

.panel {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: center;
  z-index: 6;
}

.left-panel {
  pointer-events: all;
  padding: 3rem 17% 2rem 12%;
}

.right-panel {
  pointer-events: none;
  padding: 3rem 12% 2rem 17%;
}

.panel .content {
  color: #fff;
  transition: transform 0.9s ease-in-out;
  transition-delay: 0.6s;
}

.panel h3 {
  font-weight: 600;
  line-height: 1;
  font-size: 1.5rem;
}

.panel p {
  font-size: 0.95rem;
  padding: 0.7rem 0;
}

.btn.transparent {
  margin: 0;
  background: none;
  border: 2px solid #fff;
  width: 130px;
  height: 41px;
  font-weight: 600;
  font-size: 0.8rem;
}

.right-panel .image,
.right-panel .content {
  transform: translateX(800px);
}

/* ANIMATION */

.container.sign-up-mode:before {
  transform: translate(100%, -50%);
  right: 52%;
}

.container.sign-up-mode .left-panel .image,
.container.sign-up-mode .left-panel .content {
  transform: translateX(-800px);
}

.container.sign-up-mode .signin-signup {
  left: 25%;
}

.container.sign-up-mode form.sign-up-form {
  opacity: 1;
  z-index: 2;
}

.container.sign-up-mode form.sign-in-form {
  opacity: 0;
  z-index: 1;
}

.container.sign-up-mode .right-panel .image,
.container.sign-up-mode .right-panel .content {
  transform: translateX(0%);
}

.container.sign-up-mode .left-panel {
  pointer-events: none;
}

.container.sign-up-mode .right-panel {
  pointer-events: all;
}

@media (max-width: 870px) {
  .home__img{
    max-height: 300px;
    max-width: 200px;
  }

  .container {
    min-height: 800px;
    height: 100vh;
  }
  .signin-signup {
    width: 100%;
    top: 95%;
    transform: translate(-50%, -100%);
    transition: 1s 0.8s ease-in-out;
  }

  .signin-signup,
  .container.sign-up-mode .signin-signup {
    left: 50%;
  }

  .panels-container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr 1fr;
  }

  .panel {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 2.5rem 8%;
    grid-column: 1 / 2;
  }

  .right-panel {
    grid-row: 3 / 4;
  }

  .left-panel {
    grid-row: 1 / 2;
  }

  .image {
    width: 200px;
    transition: transform 0.9s ease-in-out;
    transition-delay: 0.6s;
  }

  .panel .content {
    padding-right: 15%;
    transition: transform 0.9s ease-in-out;
    transition-delay: 0.8s;
  }

  .panel h3 {
    font-size: 1.2rem;
  }

  .panel p {
    font-size: 0.7rem;
    padding: 0.5rem 0;
  }

  .btn.transparent {
    width: 110px;
    height: 35px;
    font-size: 0.7rem;
  }

  .container:before {
    width: 1500px;
    height: 1500px;
    transform: translateX(-50%);
    left: 30%;
    bottom: 68%;
    right: initial;
    top: initial;
    transition: 2s ease-in-out;
  }

  .container.sign-up-mode:before {
    transform: translate(-50%, 100%);
    bottom: 32%;
    right: initial;
  }

  .container.sign-up-mode .left-panel .image,
  .container.sign-up-mode .left-panel .content {
    transform: translateY(-300px);
  }

  .container.sign-up-mode .right-panel .image,
  .container.sign-up-mode .right-panel .content {
    transform: translateY(0px);
  }

  .right-panel .image,
  .right-panel .content {
    transform: translateY(300px);
  }

  .container.sign-up-mode .signin-signup {
    top: 5%;
    transform: translate(-50%, 0);
  }
}

@media (max-width: 570px) {
  .container {
    min-height: 800px;
    height: 158vh;
  }
  form {
    padding: 0 1.5rem;
  }
  .panel .content {
    padding: 0.5rem 1rem;
  }
  .container {
    padding: 1.5rem;
  }

  .container:before {
    bottom: 72%;
    left: 50%;
  }

  .container.sign-up-mode:before {
    bottom: 28%;
    left: 50%;
  }
}

@media (max-width: 330px) {
  .container {
    min-height: 800px;
    height: 185vh;
  }
}

.noty_theme__mint {
  border-radius: 50px!important;
  padding-left: 8px!important;
}

.noty_theme__mint.noty_type__success {
  background: #048654;
  border-bottom: #048654;
  color: #fff;
}

.input-qty-cart {
  line-height: 35px;
  border: none;
  text-align: center;
}

.action{
  //position: fixed;
  margin-top: 150px;
  margin-left: 20px;
}

.action .accountMenu::before {
  content: '';
  postion:absolute;
  top:-5;
  right: 28;
  width: 20px;
  height: 20px;
  background: #85ad8c3d;
  transform: rotate(45deg);
}

.action .accountMenu {
  width: 220px;
  background: var(--body-color);
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  border-radius: 15px;
  transition : 0.5s;
  visibility: hidden;
  opacity: 0;

}

.action .accountMenu.active {
  visibility: visible;
  opacity: 2;

}
#avatar {
  border-radius: 50%;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.action .accountMenu h3 {
  width: 100%;
  text-align : center;
  font-size: 18px;
  padding : 20px 0;
  font-weight: 500;
  line-height: 1.2em;
}

.action .accountMenu ul li {
  list-style: none;
  padding: 10px 0;
  border-top: 1px solid rgba(170, 170, 170, 0.22);
  display: flex;
  align-items: center;
}

.action .accountMenu ul li img {
  max-width: 20px;
  margin-right: 20px;
  opacity: 0.5;
  transition: 0.5s;
  margin-left: 26px;
}

.action .accountMenu ul li:hover img {
  opacity: 1;
}

.action .accountMenu ul li a {
  display: inline-block;
  text-decoration: none;
  color: var(--text-color);
  font-weight: 500;
  transition: 0.5s;
}

.action .accountMenu ul li:hover img {
  color: var(--first-color-alt)
}

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}


/* Style the submit button with a specific background color etc */
input[type=submit] {
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #45a049;
}

/* Add a background color and some padding around the form */
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
}

th, td {
  text-align: left;
  padding: 16px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}


select {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 18px 22px;
  border: none;
  border-radius: 5px;
  background-color: var(--first-color-alt);
  color: #ffffff;
  float: right;
}

mark {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  border: 2px solid #FFF;
  width: 20px;
  height: 20px;
  background-color: var(--first-color);
  position: relative;
  top: -5px;
  left: -10px;
  font-size: 10px;
  line-height: 20px;
  font-family: 'Roboto', sans-serif;
  color: #FFF;
  font-weight: 700;
}

mark.big{
  width: 20px;
  height: 20px;
  border-radius: 50%;
  line-height: 18px;
  font-size: 16px;
  margin-left: -8px;
  display: inline-flex;
  justify-content: center;
  letter-spacing: -1px;
}

.profile{
  @media screen and (min-width: 539px){
    margin-top: 90px;
  }

  @media screen and (max-width: 538px){
    margin-top: 50px;
  }


}

.dishes .box-container{
  display: block;
  grid-template-columns: repeat(auto-fit, minmax(28rem, 1fr));
  gap:1.5rem;
}

.dishes .box-container .box{
  width: 100%;
  padding:2.5rem;
  background:#fff;
  border-radius: .5rem;
  border:.1rem solid rgba(0,0,0,.2);
  box-shadow: 0 4px 4px rgba(0,0,0,.1);
  position: relative;
  overflow: hidden;
  text-align: center;
}

.dishes .box-container .box img{
  object-fit: contain;
  height:10rem;
  margin:1rem 0;
}

.dishes .box-container .box h3{
  color:var(--first-color-alt);
  font-size: 1.8rem;
}

.dishes .box-container .box .stars{
  padding:1rem 0;
}

.dishes .box-container .box .stars i{
  font-size: 1.7rem;
  color:var(--green);
}

.dishes .box-container .box span{
  color:#FFFFF;
  font-weight: bolder;
  margin-right: 1rem;
  font-size: 2.5rem;
}

.image-box{
  width: 100%;
  padding:1.5rem;
  overflow: hidden;
  position: relative;
}
.image-box img{
  height: 100%;
  width: 100%;
  border-radius: .5rem;
  object-fit: cover;
}


.contentBox {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  p {
    margin: 0 0 20px;
  }

}


#imgLogoSite {
  @media screen and (min-width: 451px){
    max-height: 40px
  }
  @media screen and (max-width: 450px){
    max-height: 30px
  }
  @media screen and (min-width: 769px){
    max-height: 80px
  }
}

#homeDescription {
  @media screen and (min-width: 451px){
   font-size: 20px;
  }
  @media screen and (max-width: 450px){
    font-size: 16px;
  }
  @media screen and (min-width: 769px){
   font-size: 25px;
  }
}
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  object-fit: cover;
}
.centerText{
  text-align: center;
}
.marge10Top{
  margin-top: 10px;
}

.conditionShow {
  color: var(--first-color-alt) !important;
  @media screen and (max-width: 768px){
   visibility: hidden;
  }
  @media screen and (min-width: 769px){
    visibility: visible;
  }
}

.emptyCart {
  text-align: center;
  margin-top: 100px;
}

#extradAdd {
  margin-bottom: 10px;
  margin-top: 30px;
}
.accordion {
  background-color: var(--body-color);
  color: var(--first-color-alt);
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: right;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.active, .accordion:hover {
  background-color: var(--first-color);
  color: #FFF;
}

.panelAccordion {
  background-color: var(--body-color);
  overflow: hidden;
  transition: max-height 0.6s ease-out;
  display: none;
}
.orderComment{
  width: 100%;
  margin: 5px 5px;
}

#orderDateContent {
  display: grid !important;
  grid-template-columns: repeat(2, 1fr) !important;
  align-items: center;
  position: relative;
  padding: 1.2rem 0.6rem;
}

.selectTimeOrder {
  margin: 10px 15px !important;
  background-color: #FFFFFF !important;
  color: #000000;
  border: 2px solid var(--first-color-alt) !important;
  border-radius: 5px !important;
  padding: 5px 5px !important;
}

textarea {
  resize: none;
}

.form__group {
  position: relative;
  padding: 15px 0 0;
  margin-top: 10px;
}

.form__field {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 1px solid #d2d2d2;
  outline: 0;
  font-size: 16px;
  color: #212121;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
}

.form__field::placeholder {
  color: transparent;
}

.form__field:placeholder-shown ~ .form__label {
  font-size: 16px;
  cursor: text;
  top: 20px;
}

label,
.form__field:focus ~ .form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 12px;
  color: #9b9b9b;
}

.form__field:focus ~ .form__label {
  color: var(--first-color);
}

.form__field:focus {
  padding-bottom: 6px;
  border-bottom: 2px solid var(--first-color-alt);
}