@import "./variables";
@import "~noty/src/noty.scss";
@import "~noty/src/themes/mint.scss";

.noty_theme__mint {
  border-radius: 50px!important;
  padding-left: 8px!important;
}

.noty_theme__mint.noty_type__success {
  background: #048654;
  border-bottom: #048654;
  color: #fff;
}

.lineOrderTable{
  color: #fff!important; font-weight: bold; text-align: center
}

.paidLine{
  background-color: #5ddab4 !important;
}

.nopaidLine{
  background-color: #ff7976 !important;
}

.hiddenBlock {
  display: none;
}