
<!--========== ABOUT ==========-->
<section class="about section bd-container" id="about">
    <div class="about__container  bd-grid">
        <div class="about__data">
            <span class="section-subtitle about__initial">Notre cuisine</span>
            <h2 class="section-title about__initial">Le Bobun est notre <br> spécialité maison</h2>
            <p class="about__description">Plat traditionnel et populaire, Le Bo Bun est à l’origine une salade de bœuf (Bo en vietnamien) et de vermicelles de riz (Bun, toujours en vietnamien) appréciée partout dans le monde puisqu’elle est à la fois équilibrée, particulièrement complète (Protéines, fibres, glucides... Tout y est !), rafraichissante et digeste..</p>
        </div>

        <img src="img/bunbo-about.png" alt="" class="about__img">
    </div>
</section>