<!--========== HOME ==========-->
<section class="home section bd-container bd-grid" id="home">
    <div class="swiper mySwiper">
        <div class="swiper-wrapper">
            <% if (specialityCategory)  { %>
                <% specialityCategory.forEach(function (cat) {%>
                    <% if (cat.isExtra === false) {%>
                        <div class="swiper-slide">
                            <div class="about__container  bd-grid">
                                <div class="about__data">
                                    <h1 id="homeTitle" class="home__title"><%= cat.name%></h1>
                                    <h2 id="homeSubtitle" class="home__subtitle"><%= cat.subTitle%></h2>
                                    <p id="homeDescription"><%= cat.description%> </p>
                                    <a id="homeCommand" style="margin-top: 20px" href="<%= '#'+cat.anchor%>" class="button">Passer votre
                                        commande</a>
                                </div>
                                <div class="centerText">
                                    <img src="<%= cat.picturePath%>" class="animated__img">
                                </div>

                            </div>
                        </div>
                    <% } %>
                <% }); %>
            <% } %>
        </div>
        <div class="swiper-pagination"></div>
    </div>
</section>
