<!--========== MENU ==========-->
<% if (specialityCategory) { %>
    <% specialityCategory.forEach(function (cat) {%>
        <%if (!cat.isExtra) { %>
            <section class="menu section bd-container" id="<%= cat.anchor %>">
                <span class="section-subtitle">Nos spécialités</span>
                <h2 class="section-title">Découvrir nos <%= cat.name%></h2>
                <div class="dishes" id="dishes">
                    <div class="box-container">
                        <% if (cat.specialities) { %>
                        <div class="swiper mySpecialitySwiper">
                            <div class="swiper-wrapper">
                                <% cat.specialities.forEach(function(spec){ %>
                                    <% if (spec.available) {%>
                                        <div class="swiper-slide">
                                            <div class="box">
                                                <div class="image-box">
                                                    <img src="<%= spec.picturePath%>" alt="">
                                                </div>
                                                <h3><%= spec.name %></h3>
                                                <p><%= spec.description %></p>
                                                <span><%= spec.price%> €</span>
                                                <div class="marge10Top">
                                                    <button data-speciality ="<%= JSON.stringify(spec)%>" class="button-cart menu__button add-cart btn-marge">
                                                        <i class='bx bxs-cart-add'></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    <% } %>
                                <% }); %>
                                <% } %>
                            </div>
                            <div class="swiper-pagination"></div>
                            <div class="swiper-button-next conditionShow"></div>
                            <div class="swiper-button-prev conditionShow"></div>
                        </div>
                    </div>
                </div>
            </section>
        <% } %>
    <%})%>
<%}%>
