<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
</head>
<body>

<div id="invoice-POS">
    <center>
        <img alt="qrcode" src="<%= qrcode%>" style="display: block;">
    </center>
    <input id="idOrder" type="hidden" value="<%= order._id%>">
    <center id="top">
        <div class="logo"></div>
        <div class="info">
            <h2>KokoMie Restaurant</h2>
            <p>https://www.kokomie.fr</p>
            <p>8 rue de l'OR</p>
            <p>80000 Amiens</p>
            <p>032222222222</p>
        </div><!--End Info-->
    </center><!--End InvoiceTop-->

    <div id="mid">
        <div class="info">
            <h2>Client</h2>
            <p>
                Email : <%= client.email%> </br>
                Phone : <%= client.phone%> </br>
            </p>
        </div>
    </div><!--End Invoice Mid-->

    <center>
        <div class="logo"></div>
        <div class="info">
            <p>Commande numéro <%= order.orderNumber%> - Date : <%= moment.tz(order.createdAt,"Europe/Paris").format('D/M/Y HH:mm')%></p>
            <p>Commande <%= from %></p>
            <p><%= paymentStatus %></p>
        </div><!--End Info-->
    </center><!--End InvoiceTop-->

    <div id="bot">

        <div id="table">
            <table>
                <tr class="tabletitle">
                    <td class="item"><h2>Articles</h2></td>
                    <td class="Hours"><h2>Qté</h2></td>
                    <td class="Rate"><h2>PU TTC</h2></td>
                    <td class="Rate"><h2>PRIX</h2></td>
                </tr>

                <% Object.keys(order.items).forEach(function (k) { %>
                    <tr class="service">
                        <td class="tableitem"><p class="itemtext"><%= order.items[k].item.name %></p></td>
                        <td class="tableitem"><p class="itemtext"><%= order.items[k].qty %></p></td>
                        <td class="tableitem"><p class="itemtext"><%= Number.parseFloat(order.items[k].item.price).toFixed(2) %> €</p></td>
                        <td class="tableitem"><p class="itemtext"><%= Number.parseFloat(order.items[k].item.price * order.items[k].qty).toFixed(2) %> €</p></td>
                    </tr>
                <% })%>
                <% if (order.extras) { %>
                    <% Object.keys(order.extras).forEach(function (k) { %>
                        <tr class="service">
                            <td class="tableitem"><p class="itemtext"><%= order.extras[k].item.speciality.name %></p></td>
                            <td class="tableitem"><p class="itemtext"><%= order.extras[k].qty %></p></td>
                            <td class="tableitem"><p class="itemtext"><%= Number.parseFloat(order.extras[k].item.speciality.price).toFixed(2) %> €</p></td>
                            <td class="tableitem"><p class="itemtext"><%= Number.parseFloat(order.extras[k].item.speciality.price * order.extras[k].qty).toFixed(2) %> €</p></td>
                        </tr>
                    <% })%>
                <% } %>

                <tr class="tabletitle">
                    <td></td>
                    <td></td>
                    <td class="Rate"><h2>Total</h2></td>
                    <td class="payment"><h2><%= Number.parseFloat(order.amount).toFixed(2)%> €</h2></td>
                </tr>

                <% if (typeof cb !== "undefined") {%>
                    <tr class="tabletitle">
                        <td></td>
                        <td></td>
                        <td class="Rate"><h2>CB</h2></td>
                        <td class="payment"><h2><%= cb%> €</h2></td>
                    </tr>
                <% }%>

                <% if (typeof cash !== "undefined" ){%>
                    <tr class="tabletitle">
                        <td></td>
                        <td></td>
                        <td class="Rate"><h2>ESP</h2></td>
                        <td class="payment"><h2><%= cash%> €</h2></td>
                    </tr>
                <% } %>

                <% if (typeof tr !== "undefined") {%>
                    <tr class="tabletitle">
                        <td></td>
                        <td></td>
                        <td class="Rate"><h2>TR</h2></td>
                        <td class="payment"><h2><%= tr%> €</h2></td>
                    </tr>
                <% } %>
            </table>
        </div><!--End Table-->
        <center>
            <div id="tva">
                <div class="info">
                    <p>
                        Total TVA : <%= Number.parseFloat(order.amount * 0.1).toFixed(2) %> € - Total HT : <%= Number.parseFloat(order.amount - order.amount*0.1).toFixed(2) %> €</br>
                    </p>
                </div>
            </div><!--End Invoice Mid-->
        </center>

        <center>
            <div id="legalcopy">
                <p>
                    SIRET : 898989822898298298298292898 - CODE NAF : 0708080909 - TVA : 2090909090
                </p>
                <p>
                    Horraires d'ouvertures :
                </p>
                <p>Lundi à Vendredi : 10h30 à 20h30</p>
                <p>Samedi  : 10h30 à 21h30</p>
            </div>
        </center>


    </div><!--End InvoiceBot-->
</div><!--End Invoice-->

<style>
    #invoice-POS {
        box-shadow: 0 0 1in -0.25in rgba(0, 0, 0, 0.5);
        padding: 2mm;
        margin: 0 auto;
        width: 72mm;
        background: #FFF;

    }

    ::selection {
        background: #f31544;
        color: #FFF;
    }

    ::moz-selection {
        background: #f31544;
        color: #FFF;
    }

    h1 {
        font-size: 1.5em;
        color: #222;
    }

    h2 {
        font-size: .9em;
    }

    h3 {
        font-size: 1.2em;
        font-weight: 300;
        line-height: 2em;
    }

    p {
        font-size: .7em;
        color: #666;
        line-height: 1.2em;
    }

    #top, #mid, #bot, #tva { /* Targets all id with 'col-' */
        border-bottom: 1px solid #EEE;
    }

    #top {
        min-height: 100px;
    }

    #mid {
        min-height: 80px;
    }

    #bot {
        min-height: 50px;
    }

    #top .logo {
    / / float: left;
        height: 60px;
        width: 60px;
        background: url(http://michaeltruong.ca/images/logo1.png) no-repeat;
        background-size: 60px 60px;
    }

    .clientlogo {
        float: left;
        height: 60px;
        width: 60px;
        background: url(http://michaeltruong.ca/images/client.jpg) no-repeat;
        background-size: 60px 60px;
        border-radius: 50px;
    }

    .info {
        display: block;
    / / float: left;
        margin-left: 0;
    }

    .title {
        float: right;
    }

    .title p {
        text-align: right;
    }

    table {
        width: 100%;
        border-collapse: collapse;
    }

    td {
        padding: 5px 0 5px 15px;

    }

    .tabletitle {
    / / padding: 5 px;
        font-size: .5em;
        background: #EEE;
    }

    .service {
        border-bottom: 1px solid #EEE;
    }

    .item {
        width: 24mm;
    }

    .itemtext {
        font-size: .5em;
    }

    #legalcopy {
        margin-top: 5mm;
    }


</style>

</body>
</html>