<script>
    function callback_captcha(token) {
        let captchaToken = document.querySelector("#captchaToken");
        captchaToken.value = token
    }
</script>
<section class="connexion" id="connexion">
    <div class="connexion__container bd-container bd-grid">
        <div class="connexion__data">
            <div class="container">
                <div class="forms-container">
                    <div class="signin-signup">
                        <form action="#" class="sign-in-form">
                            <h2 class="title">Se connecter</h2>
                            <div class="input-field">
                                <i class="fas fa-user"></i>
                                <input type="text" placeholder="Email" name="loginEmail" />
                            </div>
                            <div class="input-field">
                                <i class="fas fa-lock"></i>
                                <input type="password" placeholder="Mot de passe" name="loginPassword"/>
                            </div>
                            <input type="btn" value="Se connecter" class="btn solid" id="btnSignIn" />
                            <p class="social-text">Ou se connecter avec votre compte de réseau social</p>
                            <div class="social-media">
                                <a href="#" class="social-icon">
                                    <i class="fab fa-facebook-f"></i>
                                </a>
                                <a href="#" class="social-icon">
                                    <i class="fab fa-google"></i>
                                </a>
                            </div>
                        </form>
                        <form class="sign-up-form">
                            <h2 class="title">Inscription</h2>
                            <div class="input-field">
                                <i class="fas fa-user-tag"></i>
                                <input name="lastName" type="text" placeholder="Nom" />
                            </div>
                            <div class="input-field">
                                <i class="fas fa-user-tag"></i>
                                <input name="firstName" type="text" placeholder="Prénom" />
                            </div>
                            <div class="input-field">
                                <i class="fas fa-envelope"></i>
                                <input name="email" type="email" placeholder="Email" />
                            </div>
                            <div class="input-field">
                                <i class="fas fa-lock"></i>
                                <input name="password" type="password" placeholder="Mot de passe" />
                            </div>
                            <div class="input-field">
                                <i class="fas fa-lock"></i>
                                <input name="confirmPassword" type="password" placeholder="Confirmer le mot de passe" />
                            </div>
                            <div name="captcha" class="g-recaptcha" data-sitekey="6LeGrNUbAAAAAAC1QCnz3uiNGZAMv_aCTBrLZFcN" data-callback="callback_captcha"></div>
                            <textarea hidden id="captchaToken"></textarea>
                            <input type="button" class="btn" value="S'enregistrer" id="btnSignUp" />
                            <p class="social-text">Ou s'enregistrer avec votre compte de réseau social</p>
                            <div class="social-media">
                                <a href="#" class="social-icon">
                                    <i class="fab fa-facebook-f"></i>
                                </a>
                                <a href="#" class="social-icon">
                                    <i class="fab fa-google"></i>
                                </a>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="panels-container">
                    <div class="panel left-panel">
                        <div class="content">
                            <h3>Vous n'avez pas encore créé votre compte ?</h3>
                            <p>
                                Créez votre compte dès maintenant pour profiter des avantages de fidélité ainsi que de nos nombreuses offres !
                            </p>
                            <button class="btn transparent" id="sign-up-btn">
                                S'enregistrer
                            </button>
                        </div>
                    </div>
                    <div class="panel right-panel">
                        <div class="content">
                            <h3>Vous êtes déjà un des nôtres ?</h3>
                            <p>
                                Connectez-vous à votre espace pour passer vos commandes !
                            </p>
                            <button class="btn transparent" id="sign-in-btn">
                                Se connecter
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>