<!--========== MENU ==========-->
<section class="menu section bd-container" id="account">
    <div class="menu__container bd-grid">
        <div class="menu__content" style="text-align: start; width: max-content">
            <h3>Vos données personnelles</h3>
            <form action="#" style="display: contents">
                <div class="input-field">
                    <i class="fas fa-user"></i>
                    <input type="text" id="fname" name="firstname" value="<%= session.user.firstName %>">
                </div>

                <div class="input-field">
                    <i class="fas fa-user"></i>
                    <input type="text" id="lname" name="lastname" value="<%= session.user.lastName %>">
                </div>

                <div class="input-field">
                    <i class="fas fa-envelope"></i>
                    <input type="text" id="emailContact" name="emailContact" value="<%= session.user.email %>">
                </div>

                <div class="input-field">
                    <i class="fas fa-phone"></i>
                    <input type="text" id="telephone" name="telephone" value="<%= session.user.phone %>">
                </div>

                <button data-userid = "<%= session.user._id%>"
                        data-usertoken="<%= session.user.token%>"
                        class="button" id="editAccountData">
                    Modifier
                </button>
            </form>
        </div>

        <div class="menu__content" style="text-align: center">
            <h3>Vos points de fidélités</h3>
            <h1>56 points </h1>
            <button class="button" style="margin-top: 150px">Convertir en bon d'achat</button>
        </div>

        <div class="menu__content" style="text-align: start; width: max-content">
            <h3>Vos commandes récentes</h3>
            <table>
                <tr>
                    <th>Date</th>
                    <th>Montant</th>
                    <th>Visualiser</th>
                </tr>
                <tr>
                    <td>12/01/2020</td>
                    <td>30 €</td>
                    <td><button class="button">Détail</button></td>
                </tr>
                <tr>
                    <th>Date</th>
                    <th>Montant</th>
                    <th>Visualiser</th>
                </tr>
                <tr>
                    <td>12/01/2020</td>
                    <td>30 €</td>
                    <td><button class="button">Détail</button></td>
                </tr>
                <tr>
                    <th>Date</th>
                    <th>Montant</th>
                    <th>Visualiser</th>
                </tr>
                <tr>
                    <td>12/01/2020</td>
                    <td>30 €</td>
                    <td><button class="button">Détail</button></td>
                </tr>
                <tr>
                    <th>Date</th>
                    <th>Montant</th>
                    <th>Visualiser</th>
                </tr>
                <tr>
                    <td>12/01/2020</td>
                    <td>30 €</td>
                    <td><button class="button">Détail</button></td>
                </tr>
                <tr>
                    <th>Date</th>
                    <th>Montant</th>
                    <th>Visualiser</th>
                </tr>
                <tr>
                    <td>12/01/2020</td>
                    <td>30 €</td>
                    <td><button class="button">Détail</button></td>
                </tr>
            </table>
        </div>
    </div>

</section>