<!--========== SIDEBAR CART ==========-->
<div class="w3-sidebar w3-bar-block w3-card w3-animate-right"
        <% const style = session.openSideCart ? "display:block;right:0; z-index: 100" : "display:none;right:0; z-index: 100" %>
        <% var haveItemsInCart = false %>
     style="<%= style %>" id="rightMenu">
    <span id="close-cart" class="w3-bar-item w3-button w3-large">&times;</span>
    <div class="cart">
        <div class="cart-container">
            <h3 style="text-align: center"> Votre panier</h3>
            <div class="cart-list">
                <!-- single item -->
                <% if (session.cart){ %>
                    <% if (Object.keys(session.cart.items).length > 0) { %>
                        <% haveItemsInCart = true%>
                        <% const items = session.cart.items %>
                        <% for (var prop in items){ %>
                            <div class="cart-item" name="<%= items[prop].item._id %>">
                                <div class="cart-item-info">
                                    <img src="<%= items[prop].item.picturePath %>" alt="product image">
                                </div>
                                <div class="cart-item-info">
                                    <button data-speciality="<%= items[prop].item._id %>" data-eventadded = true"
                                            class="button button-cart minus-qty-item">
                                        <i class='bx bx-minus'></i>
                                    </button>
                                    <input class="input-qty-cart" name="<%= items[prop].item._id %>" type="text"
                                           readonly size="1"
                                           value="<%= items[prop].qty %>"/>
                                    <button data-speciality="<%= items[prop].item._id %>" data-eventadded = true
                                            class="button button-cart plus-qty-item">
                                        <i class='bx bx-plus'></i>
                                    </button>
                                </div>
                                <div class="cart-item-info">
                                    <h3 class="cart-item-name"><%= items[prop].item.name %></h3>
                                    <span class="cart-item-price"> <%= items[prop].item.price %> €</span>
                                </div>

                                <button type="button" data-speciality="<%= items[prop].item._id %>"
                                        class="cart-item-del-btn">
                                    <i class="fas fa-times"></i>
                                </button>
                            </div>
                        <% } %>
                    <% } else { %>
                        <div id="empty-cart">
                            <div>
                                <p style="text-align: center">Votre panier est vide </p>
                            </div>
                            <div class="emptyCart">
                                <img style="width: 50%" src="img/emptyBol.png">
                            </div>
                        </div>
                    <% } %>
                <% } else { %>
                    <div id="empty-cart">
                        <div>
                            <p style="text-align: center">Votre panier est vide </p>
                        </div>
                        <div class="emptyCart">
                            <img style="width: 50%" src="img/emptyBol.png">
                        </div>
                    </div>
                <% } %>
            </div>
            <% if (session.cart){ %>
                <% if (Object.keys(session.cart.items).length > 0) { %>
                    <% var display = 'block' %>
                    <% var visibilityOrderTime = 'visible' %>
                    <% var initEvent = true %>
                <% } else { %>
                    <% var display = 'none' %>
                        <% var visibilityOrderTime = 'hidden' %>
                    <% var initEvent = false %>
                <% } %>
            <% } else { %>
                <% var display = 'none' %>
                <% var visibilityOrderTime = 'hidden' %>
                <% var initEvent = false %>
            <% } %>

            <% var accordeonDisplay = 'accordion'%>
            <% var accordeonStyle = 'none'%>

            <% if (session.cart) { %>
                <% if (Object.keys(session.cart.extras).length > 0) { %>
                    <%  accordeonDisplay = 'accordion active' %>
                    <%  accordeonStyle = 'block' %>
                <% } %>
            <% } %>

            <% if (possibleOrderTime) { %>
                <div id="orderDateContent" style="visibility: <%= visibilityOrderTime %>">
                    <hr/><hr/>
                    <p><strong>Date de retrait de commande</strong></p>
                    <p></p>
                    <select class="form-select selectTimeOrder" id="weekDayCart" style="visibility: <%= visibilityOrderTime %>">
                        <% Object.keys(possibleOrderTime).forEach(function (k) { %>
                            <option value="<%= k%>"> <%= k%></option>
                        <% }) %>
                    </select>
                    <select class="form-select selectTimeOrder" id="orderTimeCart" style="visibility: <%= visibilityOrderTime %>">
                        <% let day = possibleOrderTime[Object.keys(possibleOrderTime)[0]] %>
                        <% Object.keys(day).forEach(function (k) { %>
                            <optgroup label="<%= k%>">
                                <% Object.keys(day[k]).forEach(function (item) { %>
                                    <option value=<%= item%>> <%= day[k][item]%></option>
                                <% })%>
                            </optgroup>
                        <% }) %>
                    </select>
                    <input id="possibleOrderTime" hidden type="text" value = "<%= JSON.stringify(possibleOrderTime) %>"/>
                </div>
            <% } %>
            <div id="extradAdd" style="display: <%= display %>">
                <button class="<%= accordeonDisplay%>" data-eventadded=false data-initevent= <%= initEvent %>>Ajouter un
                    supplément
                </button>
                <div class="panelAccordion" style="display: <%= accordeonStyle %>">
                    <div class="cart-container">
                        <div class="cart-list">
                            <% if (typeof specialityCategory !== 'undefined') { %>
                                <% specialityCategory.forEach(function (cat) { %>
                                    <% if (cat.isExtra) { %>
                                        <% if (cat.specialities) { %>
                                            <% cat.specialities.forEach(function(spec){ %>
                                                <% if (spec.available) { %>
                                                    <div class="cart-item" name="<%= spec._id %>">
                                                        <div class="cart-item-info">
                                                            <img src="<%= spec.picturePath %>" alt="product image">
                                                        </div>
                                                        <div class="cart-item-info">
                                                            <button
                                                                    data-idspec="<%= spec._id %>"
                                                                    data-spec="<%= JSON.stringify(spec) %>"
                                                                    data-eventAdded = "<%= haveItemsInCart%>"
                                                                    data-isExtra = true
                                                                    class="button button-cart minus-qty-item-extra">
                                                                <i class='bx bx-minus'></i>
                                                            </button>
                                                            <input class="input-qty-cart" name="<%= spec._id %>"
                                                                   type="text" readonly size="1"
                                                                   value="<%= session.cart && typeof session.cart.extras[spec._id] !== 'undefined' ? session.cart.extras[spec._id].qty : 0 %>"/>
                                                            <button
                                                                    data-idspec="<%= spec._id %>"
                                                                    data-spec="<%= JSON.stringify(spec) %>"
                                                                    data-eventAdded = "<%= haveItemsInCart%>"
                                                                    data-isExtra = true
                                                                    data-price = "<%= spec.price%>"
                                                                    class="button button-cart plus-qty-item-extra">
                                                                <i class='bx bx-plus'></i>
                                                            </button>
                                                        </div>
                                                        <div class="cart-item-info">
                                                            <h3 class="cart-item-name"><%= spec.name %></h3>
                                                            <span class="cart-item-price"> <%= Number.parseFloat(spec.price).toFixed(2) %> €</span>
                                                        </div>
                                                    </div>
                                                <% } %>
                                            <% }); %>
                                        <% } %>
                                    <% } %>
                                <% }) %>
                            <% } %>
                        </div>
                    </div>
                </div>
            </div>
            <% if (session.cart){ %>
                <% if (Object.keys(session.cart.items).length > 0) { %>
                    <div id="comment" class="form__group">
                            <textarea maxlength="50" class="orderComment form__field"  id="commentOrder"></textarea>
                            <label for="commentOrder" class="form__label">Ajouter un commentaire pour votre commande</label>
                    </div>

                    <div class="cart-total">
                        <h3>Total : </h3>
                        <span id="cart-total-value"><%= session.cart ? Number.parseFloat(session.cart.totalPrice).toFixed(2) : '' %> </span>
                        €
                    </div>
                    <button id="cart-btn" class="button">Payer en ligne</button>
                    <button id="cart-btn-cod" class="button">Payer sur place</button>
                <% } %>
            <% } %>
        </div>
    </div>
</div>