<!--========== HOME ==========-->
<section class="home" id="order">
    <div class="home__container bd-container bd-grid">
        <% if (orders[0]) { %>
        <div class="home__data">
            <% if (orders[0].status == 'order_placed')  status = 'en attente'
            if (orders[0].status == 'order_processing')  status = 'en cours de préparation'
            if (orders[0].status == 'order_done')  status = 'prête'
            if (orders[0].status == 'order_delivered')  status = 'livrée'
            %>
            <h3>Votre commande est <span id="lbOrderStatus"><%= status%></span></h3>
            <% if (Object.keys(orders).length > 1) { %>
            <select id="currentOrders">
                <%orders.forEach(function(order) { %>
                    <option value="<%= order._id%>">Commande montant : <%= order.amount%> €</option>
                <% }) %>
            </select>
            <% } %>
            <table>
                <tr>
                    <th>Date de commande</th>
                    <th>Montant</th>
                    <th>Statut</th>
                    <th>Date de retrait de commande</th>
                    <th>Détail de la commande</th>
                </tr>
                <tr>
                    <td><span id="dateOrder"><%= moment.tz(orders[0].createdAt, 'Europe/Paris').format('D/M/Y HH:mm') %></span></td>
                    <td><span id="orderAmount"><%= orders[0].amount%> €</span></td>
                    <td><span id="orderStatus"><%= status %></span></td>
                    <td><span id="dateDelivered"><%= moment.tz(orders[0].deliveredTime, 'Europe/Paris').format('D/M/Y HH:mm')%></span></td>
                    <td style="text-align: center"><button class="button">Visualiser</button></td>
                </tr>
            </table>
            <input type="hidden" id="userIdOrder" value="<%= orders[0].customerId%>">
        </div>
        <% const tabImgStatus = {
            "order_placed" : "img/placed.gif",
            "order_processing" : "img/processing.gif",
            "order_done" : "img/finished.gif",
            "order_delivered" : "img/finished.gif",
        }%>

        <img id="orderState" src="<%= tabImgStatus[orders[0].status]%>" style="border-radius: 8px">
    </div>
    <% } else { %>
        <div class="home__data">
            <h3>Vous n'avez aucune commande en cours</h3>
        </div>
    <% }%>
</section>