<!--========== HOME ==========-->
<section class="home" id="home">
    <div class="home__container bd-container bd-grid">
        <div class="home__data">
            <h1 class="home__title">Le bon Bobun</h1>
            <h2 class="home__subtitle">Le nouveau Bobun <br> sur Amiens.</h2>
            <a href="#" class="button">Commander</a>
        </div>

        <img src="img/bobun.png" alt="" class="home__img">
    </div>
</section>